
body::before {
    content: "";
    background: url('../static/background.jpg') no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1; 
}


.sidebar {
    background-color: #11273F;
    padding: 10px;
    color: white;
}

.main-chat-area{
    height: 100vh;
    
}

.chat-area{
    height: 85%;
    padding-right: 0;
}

.text-area{
    height: 15%;
    background-color: lightslategray;
}

#chatbox {
    width: 100%;
    margin-top: 25px;
    overflow-y: auto;
    height: 90%;
}

.userText {
    color: black;
    font-size: 17px;
    /* text-align: right; */
    line-height: 30px;
    margin-left: 100px;
    margin-right: 40px;
    background-color: #EEE9DA;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    box-shadow: 14px 16px 16px -14px rgba(0,0,0,0.24);
}

.botText {
    color: black;
    font-size: 17px;
    /* text-align: left; */
    line-height: 30px;
    margin-left: 40px;
    margin-right: 100px;
    background-color: #a0ced9;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    box-shadow: -14px 16px 16px -14px rgba(0,0,0,0.24);
}

#userInput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
    /* text-align: left; */
    /* flex-wrap: nowrap; */
}

#textInput {
    width: 100%;
    border: none;
    /* border-bottom: 3px solid black; */
    font-size: 17px;
    text-align: left;
    border-radius: 10px;
    height: 100%;
    overflow-y: auto;
    background-color: #BDCDD6;
    /* padding: 10px, 10px, 10px, 10px; */
    padding-left: 10px;
}


.button {
    border-width: 0px;
    border-radius: 20px;
    height: auto;
    width: 100%;
}


/* .chat-input {
    bottom: 0;
    left: 25%; 
    right: 0; 
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.chat-input input {
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #f0f0f0;
    outline: none;
    margin-right: 10px;
} */