<!DOCTYPE html>
<html>

<head>
  <title>EasyLaw</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-2 col-sm-4 sidebar">
        <h3 id="sidebar title">EasyLaw</h3>
        <button class="btn mb-2" id="newChat" onclick="blankChat()">New Chat</button>
        <!-- <ul class="nav nav-pills flex-column mb-auto" id="chat-list">
          <li class="nav-link">Chat 1</li>
        </ul> -->
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="changeLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Change Language
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" onclick="changeLanguage('en')">English</a>
            <a class="dropdown-item" onclick="changeLanguage('cn')">Chinese</a>
            <a class="dropdown-item" onclick="changeLanguage('bm')">Bahasa Melayu</a>
            <a class="dropdown-item" onclick="changeLanguage('tl')">Tamil</a>
          </div>
        </div>
        <!-- <button class="btn" id="" onclick="changeLanguage('cn')">Switch Language</button> -->
      </div>

      <div class="col-lg-10 col-sm-8 main-chat-area">

        <div class="row chat-area">
          <div id="chatbox"> 
            <p class="botText shadow-lg" id="welcomeMsg">
              <span>Welcome! How can EasyLaw help you?</span>
            </p>
          </div>
        </div>

        <div class="row text-area">
          <div class="row" id="userInput">
            <div class="col-10 h-75">
              <input id="textInput" type="text" name="msg" placeholder="Message" />
            </div>
            <div class="col-1">
              <button class="button" id="record-btn"><i class="bi bi-mic-fill"></i></button>
            </div>
            <div class="col-1">
              <button class="button" id="send-btn" onclick="getBotResponse()"><i class="bi bi-send"></i></button>
            </div>
          </div> 
        </div>

      </div>

    </div>
  </div>

  <script>
    function getBotResponse() {
      var rawText = $("#textInput").val();
      var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
      $("#textInput").val("");
      $("#chatbox").append(userHtml);
      document
        .getElementById("userInput")
        .scrollIntoView({ block: "start", behavior: "smooth" });
      $.get("/get", { msg: rawText }).done(function(data) {
        var botHtml = '<p class="botText"><span>' + data + "</span></p>";
        $("#chatbox").append(botHtml);
        document
          .getElementById("userInput")
          .scrollIntoView({ block: "start", behavior: "smooth" });
      });
    }
    $("#textInput").keypress(function(e) {
      if (e.which == 13) {
        getBotResponse();
      }
    });

    // const createChat = document.querySelector('#new-chat');
    // var chatMsgID = 1;

    // function addChat() {
    //   var ul = document.getElementById('chat-list');
    //   var li = document.createElement('li');
    //   chatMsgID++;
    //   var sibs = ul.children;
    //   for(let sib of sibs) {
    //     sib.classList.remove('active')
    //     }
    //   li.appendChild(document.createTextNode('Chat '+chatMsgID));
    //   li.classList.add('nav-link');
    //   li.classList.add('active');
    //   ul.append(li);
    // }
    // createChat.addEventListener('click',addChat);

    function blankChat(){
      // var chat = document.getElementById('chatbox')
      // chat.innerHTML = ""
      // chat.innerHTML = `<p class="botText shadow-lg">
      //         <span>Welcome! How can EasyLaw help you?</span>
      //       </p>`
      location.reload();
    }

    function changeLanguage(lang){
      location.hash = lang;
      location.reload();
    }

    var language = {
      en: {
        welcome: "Welcome! How can EasyLaw help you?",
        newchat: "New Chat",
        changelang: 'Change Language'
      },
      cn: {
        welcome: '欢迎!EasyLaw如何帮您呢?',
        newchat: '重新发问',
        changelang: '更换语言'
      },
      bm: {
        welcome: 'Selamat datang! Bagaimanakah EasyLaw boleh membantu anda?',
        newchat: 'Sembang baharu',
        changelang: 'Tukar bahasa'
      },
      tl: {
        welcome: 'வரவேற்பு! EasyLaw உங்களுக்கு எப்படி உதவும்?',
        newchat: 'புதிய அரட்டை',
        changelang: 'மொழியை மாற்றவும்'
      }
    };

    if (window.location.hash) {
  
      if (window.location.hash == "#en") {
        welcomeMsg.textContent = language.en.welcome;
        newChat.textContent = language.en.newchat;
        changeLang.textContent = language.en.changelang;
      }
      else if (window.location.hash == "#cn") {
        welcomeMsg.textContent = language.cn.welcome;
        newChat.textContent = language.cn.newchat;
        changeLang.textContent = language.cn.changelang;
      }
      else if (window.location.hash == "#bm") {
        welcomeMsg.textContent = language.bm.welcome;
        newChat.textContent = language.bm.newchat;
        changeLang.textContent = language.bm.changelang;
      }
      else if (window.location.hash == "#tl") {
        welcomeMsg.textContent = language.tl.welcome;
        newChat.textContent = language.tl.newchat;
        changeLang.textContent = language.tl.changelang;
      }
    }
  </script>
</body>
</html>